button {
  position: fixed;
  top: 15px;
  left: 15px;

  height: 45px;
  width: 45px;
  background-color: var(--black);
  border: 2px var(--orange) solid;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;

  transition: 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  color: var(--orange);
}

button .bars {
  display: block;
}

button .xmark {
  display: none;
}

button.click {
  left: 265px;
}

button.click .xmark {
  display: block;
}

button.click .bars {
  display: none;
}

/* ----------------------------------------------- */

nav {
  position: fixed;
  width: 250px;
  height: 100%;
  /* background-color: white; */
  color: black;
  z-index: 10;
  background-color: white;
  transition: 0.3s ease;

  left: -252px;
  /* suivant click du bouton */
}

nav.click {
  left: 0px;
}

/* --- */

nav li {
  line-height: 70px;
  /* permet d'avoir la hauteur voulu + aligner le texte */
  border-bottom: 1px solid black;
}

nav li:nth-child(1) {
  border-top: 1px solid black;
}

nav a {
  position: relative;
  font-size: 1.5rem;
  display: block;
  /* prend toute la largeur et hauteur */
  transition: ease-in 0.3s;
}

nav a:hover {
  color: var(--orange);
}

/* --- */

.icons-applis {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 50px auto;
}

.icons-applis a {
  transition: ease-out 0.3s;
}

.icons-applis a:hover {
  fill: var(--orange);
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  position: absolute;
  bottom: 20px;
}

.copyright {
  font-size: 0.7rem;
}
