.pageaccueil main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.pageaccueil h1 {
  font-size: clamp(2.5rem, 10vw, 40rem);
}

.pageaccueil h1 span {
  color: var(--orange);
}

.pageaccueil .container-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.pageaccueil .accueil-bloc {
  background-color: var(--beige);
  box-shadow: -5px 5px 0 var(--orange);
  width: 30rem;
  padding: 1rem;
}

.pageaccueil .accueil-bloc h2 {
  color: var(--noir);
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* --- */

.pageaccueil .img-but {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;

  height: 100%;
}

.pageaccueil img {
  width: 100%;
  object-fit: contain;
  border: 2px solid white;
}

/* --- */

.pageaccueil .accueil-bloc a {
  font-size: 2rem;
  background-color: var(--bleu);
  color: var(--blanc);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
}

.pageaccueil .accueil-bloc a:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 5px black;
}

@media screen and (min-width: 800px) {
  h1 {
    padding-top: 0px;
  }
}
