.pageaccueil main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.pageaccueil h1 span {
  color: var(--orange);
}

.pageaccueil .container-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.pageaccueil .accueil-bloc {
  background-color: var(--beige);
  box-shadow: -5px 5px 0 var(--orange);
  padding: 1rem;
  width: 100%;
}

.pageaccueil .accueil-bloc h2 {
  color: var(--noir);
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* --- */

.pageaccueil .img-but {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;

  height: 100%;
}

.pageaccueil img {
  width: 100%;
  object-fit: contain;
  border: 2px solid white;
}

/* --- */

.pageaccueil .accueil-bloc a {
  font-size: 2rem;
  background-color: var(--bleu);
  color: var(--blanc);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
}

.pageaccueil .accueil-bloc a:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 5px black;
}

/* ------------------------------------ */
/* --- responsive --- */

@media screen and (min-width: 800px) {
  .pageaccueil body {
    background: url(../assets/vinyleAccueil.jpg) center no-repeat fixed;
    background-size: cover;
    z-index: -1;
  }

  .pageaccueil h1 {
    color: white !important;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(5rem, 10vw, 40rem);
  }

  .pageaccueil .container-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: 2%;
    width: 100%;
  }

  .pageaccueil .accueil-bloc {
    width: 33%;
  }

  .pageaccueil .accueil-bloc h2,
  .pageaccueil .accueil-bloc a {
    font-size: clamp(1rem, 3vw, 20rem);
  }
}
