.test-selection .buttons-container {
  background-color: var(--bleu);
  margin: 5% 10%;
  box-shadow: -5px 5px 0 var(--orange);
  padding-bottom: 1rem;
}

span {
  color: var(--orange);
}

.test-selection .title {
  text-align: center;
  font-size: 1.6rem;
  font-family: var(--ffTitre);
}

.test-selection .tests-titles,
.title-our-test {
  color: var(--blanc);
  font-size: 2rem;
  font-family: var(--ffTexte);
  padding: 4%;
}

.test-selection .eachbutton:checked {
  width: 80%;
  height: 4.5rem;
  margin: 2% auto;
  background-color: var();
  text-align: center;
  line-height: 3.5rem;
}

.test-selection .eachbutton {
  width: 80%;
  height: 4.5rem;
  margin: 0% auto;
  text-align: center;
  line-height: 4.5rem;
}

.eachbutton-our-test button {
  width: 80%;
  height: 4.5rem;
  margin: 1% auto;
  text-align: center;
  line-height: 4.5rem;
  background-color: var(--beige);
  font-size: 1.6rem;
}

.test-selection .eachbutton input {
  display: none;
}

.test-selection .eachbutton label {
  display: block;
  background-color: var(--beige);
  cursor: pointer;
  font-size: 1.6rem;
  margin: 2% 0;
}

.test-selection .eachbutton input:checked + label {
  background-color: var(--orange);
}

/* .test-selection .buttons-container input {
  width: 5%;
  height: 0%;
  background-color: var(--orange);
  font-size: 8rem;
  text-align: center;
} */

/* .test-selection .toggle-containerBlue {
  width: 50%;
  height: 4.5rem;
  margin: auto;
}

.test-selection .toggle-containerOrange {
  width: 50%;
  height: 4.5rem;
  margin: auto;
}

.test-selection #toggleBlue {
  width: 100%;
  height: 100%;
  background-color: var(--bleu);
  color: var(--blanc);
  font-size: 1.5rem;
} */

/* .test-selection #toggleOrange {
  width: 100%;
  height: 100%;
  background-color: var(--orange);
  color: var(--noir);
  font-size: 1.5rem;
} */

.test-selection .send {
  width: 60%;
  height: 4.5rem;
  background-color: var(--orange);
  font-size: 1.8rem;
  border: solid;
  margin: 0 auto;
}

@media only screen and (min-width: 800px) {
  .test-selection .title {
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--ffTitre);
  }

  .test-selection .music-filter {
    display: flex;
    width: 60%;
  }

  .test-selection .buttons-container {
    background-color: unset;
    margin: 0;
    box-shadow: unset;
    width: 100%;
  }

  .test-selection .section {
    display: flex;
    justify-content: space-around;
    clear: both;
    height: 100%;
    margin-left: 4rem;
  }

  .eachbutton-our-test button {
    width: 80%;
    height: 4rem;
    margin: 1% auto;
    text-align: center;
    background-color: var(--beige);
    font-size: 1.6rem;
    line-height: 1rem;
  }

  .test-selection .eachbutton label {
    height: 60%;
    background-color: var(--beige);
    box-shadow: -5px 5px 0 var(--bleu);
    font-size: 1.6rem;
    border-radius: 1rem;
    line-height: 3rem;
    width: 80%;
    margin: 0;
  }

  .test-selection .eachbutton input:checked + label {
    background-color: var(--orange);
  }

  .test-selection #button1 + label,
  #button6 + label,
  #button5 + label,
  #button10 + label {
    margin-left: 15%;
  }

  .test-selection #button2 + label,
  #button4 + label,
  #button7 + label,
  #button9 + label {
    margin-left: 25%;
  }

  .test-selection #button3 + label,
  #button8 + label {
    margin-left: 35%;
  }

  .test-selection .tests-titles {
    color: var(--noir);
    font-size: 2rem;
    font-family: var(--ffTexte);
    margin: 1%;
  }

  .test-selection .our-tests {
    background-color: var(--bleu);
    box-shadow: -5px 5px 0 var(--orange);
    width: 30%;
    display: flex;
    justify-content: center;
    height: 20%;
  }

  .test-selection .toggle-containerBlue {
    width: 40%;
    margin: 0 13rem;
  }

  .test-selection .toggle-containerOrange {
    width: 40%;
    margin: 0 13rem;
  }

  /*   .test-selection #toggleBlue {
    width: 20rem;
    height: 80%;
    background-color: var(--bleu);
    color: var(--blanc);
    font-size: 1.3rem;
    border: none;
    box-shadow: -5px 5px 0 var(--orange);
  }

  .test-selection #toggleOrange {
    width: 20rem;
    height: 80%;
    background-color: var(--orange);
    color: var(--noir);
    font-size: 1.3rem;
    border: none;
    box-shadow: -5px 5px 0 var(--beige);

  }

  .test-selection .title {
    text-align: center;

    font-size: 1.8rem;
    font-family: var(--ffTitre);
  }


  .test-selection .send {
    width: 40%;
    height: 3.5rem;
    background-color: var(--orange);
    font-size: 1.8rem;
    margin: 1% 20%;

  }*/
 
}
