.btpage .titleBt h1 {
  padding-top: 0;
}
.btpage .btpagemain {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
}
.btpage body {
  min-height: 100vh;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
}

.btpage .quizz {
  background-color: var(--bleu);
  width: 80vw;
  height: 550px;
  margin: 30px;
  justify-content: space-around;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  box-shadow: -5px 5px 0px 0px #ec7e40;
}

.btpage .quizz img {
  margin: 0 auto;
}
.btpage .quizz button {
  font-size: x-large;
  margin: 10px;
  background-color: var(--beige);
}
.btpage .points {
  background-color: var(--bleu);
  width: 80vw;
  height: 250px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 5px 0px 0px #ec7e40;
}
.btpage .points button {
  font-size: 60px;
  background-color: var(--beige);
}
.btpage .buttonScore button {
  font-size: 30px;
  background-color: var(--beige);
}
.btpage .buttons {
  margin-bottom: 30px;
}
.btpage .answer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
}
.btpage .answerButton button {
  width: 90%;
}
.btpage .buttonScore {
  height: max-content;
}
.btpage .scoreMobile {
  height: max-content;
}
.btpage .scoreDesktop {
  display: none;
}

@media screen and (min-width: 800px) {
  body .btpage {
    background-image: url(../assets/vinyle.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: left;
    display: unset;
  }

  .btpage .quizz {
    float: right;
    width: 500px;
    background-color: unset;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
  }
  .btpage .scoreDesktop {
    display: block;
  }
  .btpage .quizz img {
    width: 80%;
    border: #d7c392 solid 5px;
    margin-top: 15px;
  }
  .btpage .answerButton button {
    width: 100%;
  }
  .btpage .scoreMobile {
    display: none;
  }
  .btpage .buttonScore {
    margin-left: 16px;
  }
  .btpage .buttonScore button {
    font-size: 50px;
  }
  .btpage .timeout {
    font-size: x-large;
  }
  .btpage .timer {
    font-size: 50px;
    color: red;
  }
}
