.rech .h3 {
  color: white;
  font-family: var(--ffTexte);
  width: 100%;
}

.rech p {
  width: 100%;
}

.rech .imgplay {
  margin: 33%;
  position: absolute;
  width: 25%;
  border-radius: 5%;
}
.rech .imgplaylist {
  margin: 50px;
  position: absolute;
  width: 30px;
  border-radius: 5%;
}
.rech .imgfirst {
  width: 90%;
  border-radius: 5%;
}

.rech .buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-inline: 0;
  flex-wrap: wrap;
}
.rech .select_filter {
  display: flex;
  gap: 17px;
}
.rech .imglist {
  padding: 10px;
  width: 100%;
}

.rech .listglobal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.rech .searchright {
  transition: transform 0.1s;
  width: 120px;
  height: 200px;
  margin: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--bleu);
  text-align: center;
  box-shadow: -5px 5px 0px 0px #ec7e40;
}
.rech .searchright:hover {
  transform: scale(0.95);
}
.rech .searchleft {
  text-align: center;
}

.rech p {
  color: var(--blanc);
  font-family: var(--ffTexte);
}

.rech span {
  color: var(--orange);
}
.rech .go {
  margin-top: 10px;
  font-family: var(--ffTexte);
  border: black solid 1px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  transition: transform 0.1s;
}
.rech .go:hover {
  background-color: rgb(124, 192, 124);
  transform: scale(0.95);
}
.rech .searchbox {
  height: 20px;
  margin-inline: 100%;
}
.rech .filter {
  width: 50%;
  margin-inline: 25%;
}
.rech .choice {
  width: 45%;
}

@media screen and (min-width: 800px) {
  .rech .all {
    background-image: url(../assets/vinyle.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 100vh;
  }
  .rech .title {
    position: fixed;
    grid-area: 1 / 1 / 2 / 2;
  }

  .rech .listglobal {
    grid-area: 1 / 2 / 2 / 3;
  }
  .rech .imgfirst {
    display: none;
  }
}
