h3 {
  margin-top: 10px;
  color: white;
  font-family: var(--ffTexte);
  width: 100%;
}
.rech .playbutton {
  border-radius: 10px;
}

.rech .all {
  background-image: url(../assets/mur.jpg);

  position: absolute;
  background-attachment: fixed;
  width: 100%;
  background-size: cover;
}
.rech p {
  width: 100%;
}

.rech .imgplay {
  margin: 33%;
  position: absolute;
  width: 25%;
  border-radius: 5%;
}
.rech .imgplaylist {
  margin: 50px;
  position: absolute;
  width: 30px;
  border-radius: 5%;
}
.rech .imgfirst {
  width: 90%;
  border-radius: 5%;
}

.rech .buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-inline: 0;
  flex-wrap: wrap;
}

.rech .select_filter {
  display: flex;
  gap: 17px;
}
.rech .imglist {
  padding: 10px;
  width: 100%;
  background-color: var(--bleu);
  border-radius: 10px;
}

.rech .listglobal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.rech .allSong {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 1rem;
  margin-bottom: 10px;
}

.rech .rhap_button-clear {
  color: var(--orange);
  z-index: 2;
}
.rech .searchright .rhap_volume-indicator,
.rech .rhap_progress-container,
.rech .rhap_volume-button,
.rech .rhap_time,
.rech .rhap_current-time,
.rech .rhap_repeat-button,
.rech .rhap_volume-indicator,
.rech .rhap_volume-bar-area {
  color: transparent;
  display: none;
}
.rech .searchleft .rhap_loop--off,
.rech .rhap_container {
  margin-bottom: 100px;
  background-color: transparent;
  position: absolute;
  width: 0px;
  height: 0px;
  box-shadow: unset;
}

.rech .searchright .rhap_container {
  margin-left: 40px;
  margin-top: 35px;
  position: absolute;
  background-color: transparent;
  width: 0px;
  height: 0px;
  box-shadow: unset;
}
.rech .searchright {
  transition: 0.3s;
  width: 150px;
  height: 260px;
  display: flex;
  flex-direction: column;
  background-color: var(--bleu);
  text-align: center;
  box-shadow: -5px 5px 0px 0px var(--orange);
  border-radius: 20px;

  position: relative;
}
.rech .searchright:hover {
  transform: scale(0.95);
}

.rech .MusicPlayerBox {
  height: 25%;
  border-radius: 20px;
}

.rech .searchright img {
  cursor: pointer;
}

.rech .searchright h3 {
  margin-bottom: 0.5rem;
  padding: 0 0.25rem;
}

.rech .searchleft h1 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.rech .bigSong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bleu);
  padding: 1rem;
  margin: 70px;
  border-radius: 5%;
  box-shadow: -5px 5px 0px 0px var(--orange);
}

.rech .bigSong img {
  width: 60%;
  margin-top: 20px;
}

.rech .bigSong .MusicPlayerBox {
  width: 90%;
  border-radius: 20px;
}

.rech p {
  color: var(--blanc);
  font-family: var(--ffTexte);
}

.rech span {
  color: var(--orange);
}

.rech .searchbox {
  height: 20px;
  margin-inline: 100%;
}
.rech .filter {
  width: 50%;
  margin-inline: 25%;
}
.rech .choice {
  width: 45%;
}

@media screen and (min-width: 800px) {
  .rech .all {
    background-image: url(../assets/mur.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 100vh;
  }
  .rech .searchleft {
    position: fixed;
    height: 100%;
    width: 50%;
  }

  .rech .bigSong {
    width: 60%;
    margin: 150px 100px 150px 100px;
  }
  .rech .listglobal {
    margin-top: 80px;
  }
}
