.pageUser body {
  background: linear-gradient(
      0deg,
      rgba(146, 102, 61, 0.2),
      rgba(146, 102, 61, 0.2)
    ),
    #ffffff;
  background-image: url("https://cdn.discordapp.com/attachments/1031509947487363165/1035467965061144617/Vinyle2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: left;
}

.pageUser h1 {
  text-shadow: 1px 0px 1px gray, 0px 1px 1px lightgray, 2px 1px 1px gray,
    1px 2px 1px lightgray, 3px 2px 1px gray, 2px 3px 1px lightgray,
    4px 3px 1px gray, 3px 4px 1px lightgray, 5px 4px 1px gray,
    4px 5px 1px lightgray, 6px 5px 1px gray, 5px 6px 1px lightgray,
    7px 6px 1px gray;
  font-size: 50px;
}

.pageUser h2 {
  margin-bottom: 20px;
}

.pageUser .titleName {
  text-align: center;
  font-family: var(--ffTitre);
}

.pageUser .spanS {
  color: var(--orange);
}

.pageUser .lastListen {
  margin-top: 20px;
  font-family: var(--ffTexte);
  text-align: center;
  background-color: var(--beige);
  box-shadow: var(--orange) -7px 7px;
  padding: 20px;
  width: 80%;
  justify-content: center;
  margin-left: 10%;
}

.pageUser .pieceOfMusic {
  margin-top: 20px;
  font-family: var(--ffTexte);
  text-align: center;
}

.pageUser .imgMusic {
  width: 120px;
  height: 120px;
  vertical-align: middle;
  margin-bottom: 15px;
  border-radius: 10%;
  border: solid 4px black;
}

.pageUser .titleAndArtist {
  margin-bottom: 15px;
}

.pageUser a {
  margin-bottom: 15px;
}

.pageUser .favorisTitle,
.pageUser .lastListenTitle {
  margin-top: 13%;
  margin-bottom: 10%;
}

.pageUser .caret-right-circle {
  color: red;
}

.pageUser .musicDivBlock {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: solid 5px black;
  padding: 10px;
}

.pageUser .MusicPlayerBox {
  background-color: var(--bleu);
  border-radius: 1rem;
}

@media (max-width: 767px) {
  .pageUser body {
    background-image: none;
  }
}

@media (min-width: 1024px) {
  .pageUser .lastListen {
    background: none;
    box-shadow: none;
    color: white;
    margin-top: 50px;
  }

  .pageUser .titleName {
    color: white;
    font-size: 105px;
  }

  .pageUser h2 {
    font-size: 40px;
  }

  .pageUser .blockMusic {
    margin-top: 70px;
    display: flex;
  }

  .pageUser img {
    margin-bottom: 20px;
  }

  .pageUser .imgMusic {
    width: 250px;
    height: 250px;
  }

  .pageUser .titleAndLast {
    display: inline-block;
    margin-left: 10%;
  }

  .pageUser .pieceOfMusic {
    margin-left: 15%;
  }

  .pageUser .favorisTitle {
    margin-bottom: 10%;
    font-size: 70px;
  }

  .pageUser .lastListenTitle {
    font-size: 55px;
    margin-bottom: 10%;
  }

  .pageUser .musicDivBlock {
    border: none;
  }
}
