.pageUser h2 {
  margin-bottom: 20px;
}

.pageUser .titleName {
  text-align: center;
  font-family: var(--ffTitre);
}

.pageUser .spanS {
  color: var(--orange);
}

.pageUser .lastListen {
  font-family: var(--ffTexte);
  text-align: center;
  background-color: var(--beige);
  box-shadow: var(--orange) -7px 7px;
  width: 80%;
  justify-content: center;
  margin-left: 10%;
  
}

.pageUser .pieceOfMusic {
  margin-top: 20px;
  font-family: var(--ffTexte);
  text-align: center;
}

.pageUser .imgMusic {
  width: 120px;
  height: 120px;
  vertical-align: middle;
  margin-bottom: 15px;
  border-radius: 10%;
  border: solid 7px black;
}

.pageUser .titleAndArtist {
  margin-bottom: 15px;
}

.pageUser .favorisTitle,
.pageUser .lastListenTitle {
  margin-top: 13%;
  margin-bottom: 10%;
  color: white;
  text-shadow: 3px 2px 2px orange, 0 0 2em #24335f, 0 0 0.5em blue;
  
}

.pageUser .musicDivBlock {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: solid 5px black;
  padding: 10px;
}

.pageUser .MusicPlayerBox {
  background-color: white;
  border-radius: 1rem;
  border: solid 3px black;
}

.pageUser .isFavorite {
  width: 40px;
  height: 40px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg");
  background-size: 100%;
  display: inline-block;
}

.pageUser .notFavorite {
  width: 40px;
  height: 40px;
  border: solid 3px black;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg");
  background-size: 100%;
  display: inline-block;
}

.pageUser .disconnectBtn {
  padding: 16px;
  width: 140px;
  height: 60px;
  background-color: var(--orange);
  border-radius: 50%;
  margin-top: 5%;
  display: inline-block;
  border: solid black 4px;
  font-weight: bold;
  box-shadow: 4px 3px 3px black;
}

@media (min-width: 1024px) {
  .pageUser .lastListen {
    background: none;
    box-shadow: none;
    color: white;
  }

  .pageUser .titleName {
    color: black;
    font-size: 105px;
    word-spacing: 4px;
  }

  .pageUser h2 {
    font-size: 40px;
    text-decoration: underline;
  }

  .pageUser .blockMusic {
    display: flex;
  }

  .pageUser img {
    margin-bottom: 20px;
  }

  .pageUser .imgMusic {
    width: 250px;
    height: 250px;
  }

  .pageUser .titleAndLast {
    display: inline-block;
    margin-left: 10%;
  }

  .pageUser .pieceOfMusic {
    margin-left: 15%;
  }

  .pageUser .favorisTitle {
    margin-bottom: 10%;
    font-size: 55px;
  }

  .pageUser .lastListenTitle {
    font-size: 55px;
    margin-bottom: 10%;
  }

  .pageUser .musicDivBlock {
    border: none;
  }

  .pageUser .MusicPlayerBox {
    background-color: var(--beige);
  }

  .pageUser .disconnectBtn {
    margin-top: 1%;
  }
}
