main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--ffTitre);
  color: var(--noir);
  padding-top: 70px;
  font-size: 3rem;
  text-shadow: 1px 0px 1px gray, 0px 1px 1px lightgray, 2px 1px 1px gray,
    1px 2px 1px lightgray, 3px 2px 1px gray, 2px 3px 1px lightgray,
    4px 3px 1px gray, 3px 4px 1px lightgray, 5px 4px 1px gray,
    4px 5px 1px lightgray, 6px 5px 1px gray, 5px 6px 1px lightgray,
    7px 6px 1px gray;
}

h1 span {
  color: var(--orange);
}

.container-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
  margin: 0 1rem;
}

.accueil-bloc {
  background-color: var(--beige);
  box-shadow: -5px 5px 0 var(--orange);
  padding: 1rem;
  position: relative;
}

.accueil-bloc h2 {
  color: var(--noir);
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* --- */

.row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;

  height: 100%;
}

img {
  width: 100%;
  border: 2px solid white;
}

/* --- */

.accueil-bloc a {
  font-size: 2rem;
  background-color: var(--bleu);
  color: var(--blanc);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
}

.accueil-bloc a:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 5px black;
}

/* ------------------------------------ */
/* --- responsive --- */

@media screen and (min-width: 800px) {
  body {
    background: url(../vinyleAccueil.jpg) center no-repeat;
    background-size: cover;
    z-index: -1;
    color: white;
    min-width: 100%;
    padding: 0 1rem;
  }

  h1 {
    font-size: 7.5rem;
  }

  .container-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 7vh;
    gap: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 1900px) {
  .container-block {
    position: absolute;
    bottom: 50px;
  }
}
