.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-wrapper .userNameConnexion {
  font-size: 40px;
  color: var(--bleu);
  margin-top: 15%;
  margin-bottom: 8%;
}

.login-wrapper .passwordUserConnexion {
  font-size: 40px;
  color: var(--bleu);
  margin-top: 15%;
  margin-bottom: 8%;
}

.login-wrapper .userNameConnexion,
.login-wrapper .passwordUserConnexion {
  text-shadow: 2px 1px 1px black, 0 0 10em orange, 0 0 0.9em white;
}

.login-wrapper .buttonSend {
  padding: 15px;
  margin-top: 10%;
  background-color: var(--orange);
  border: solid black 4px;
  font-weight: bold;
  box-shadow: 4px 3px 3px black;
}

.login-wrapper ::placeholder {
  text-align: center;
}

.login-wrapper input {
  padding: 10px;
}

.login-wrapper button {
  border: solid 2px black;
  border-radius: 12%;
  transition-duration: 0.4s;
}

.login-wrapper button:hover {
  color: var(--orange);
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login-wrapper .inputButton {

  border-radius: 17%;

  padding: 17px;
  background-color: var(--beige);
  font-weight: bold;
  border: solid 3px black;

}

@media (min-width: 365px) {
  .login-wrapper h1 {
    word-spacing: 10px;
  }

}

@media (max-width: 767px) {
  .login-wrapper body {
    background-image: none;
  }
}

@media (min-width: 768px) {
  .login-wrapper .formUser {
    margin-top: 2%;
    background-color: var(--beige);
    padding: 3%;
    border: solid black 4px;
    border-radius: 3%;
  }

  .login-wrapper .inputButton {
    background-color: white;
  }
}

@media (min-width: 1024px) {
  .login-wrapper h1 {
    font-size: 70px;
    word-spacing: 20px;
  }

  .login-wrapper .userNameConnexion {
    font-size: 40px;
    margin-top: 10%;
  }

  .login-wrapper .passwordUserConnexion {
    font-size: 40px;
    margin-top: 10%;
  }

  .login-wrapper .buttonSend {
    padding: 15px;
    margin-top: 10%;
  }

  .login-wrapper .inputButton {
    background-color: white;
  }

}
